@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,100;1,300;1,600&display=swap");
* {
  box-sizing: border-box;
}

nav {
  font-family: "Josefin Sans", sans-serif;
}
nav img {
  padding: 10px;
  margin-left: 20px;
  width: 2%;
}
nav .navbar-toggler {
  border: none !important;
}
nav .navbar-toggler:focus {
  box-shadow: none !important;
}
nav .boton-hamburguesa {
  background-color: none !important;
  color: #747373;
  border: none;
  margin: 5px;
}
nav .boton-hamburguesa span:hover {
  color: black;
}
nav .corazonNav {
  width: 60px;
}

.mainIndex {
  width: 98%;
}

main {
  width: 95%;
}

body {
  width: 100%;
}

h1, .curiosidad h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
  color: black;
  text-align: center;
  text-align: center;
}
h1 span, .curiosidad h1 span {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  color: black;
  text-align: center;
  text-align: center;
}

h2, .contenedorTestimonios .h2Testimonios {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  color: black;
  text-align: center;
  text-align: center;
  margin-top: 30px;
}

h3, .card h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2em;
  color: black;
  text-align: none;
  margin-top: 10px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  line-height: 0.8em;
  color: black;
  text-align: none;
  margin-top: 10px;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  color: black;
  text-align: none;
}

.bgRosa {
  background-color: #f2cece;
}

.bgRosaClaro {
  background-color: #fde5e5;
}

.bgVerdeAgua {
  background-color: #c4ebeb;
}

.bgAzul {
  background-color: #c9dcfa;
}

.bordes {
  border: #fde5e5 solid 1px;
}

.grid {
  width: 100%;
  display: grid;
}

#botonera {
  grid-area: botonera;
}

#centro {
  grid-area: centro;
}

#presentacion {
  grid-area: presentacion;
}

#pie {
  grid-area: pie;
}

.areas {
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: auto;
  grid-template-areas: "botonera botonera botonera" ". presentacion ." "centro centro centro" "pie pie pie";
}

header .presentacion, header .presentacionHerramientas {
  width: 100%;
  height: auto;
  margin: none;
  padding: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: #747373 solid 1.5px;
  border-radius: 20px;
  margin-top: 30px;
}
header .presentacion .corazon, header .presentacionHerramientas .corazon {
  margin-bottom: 10px;
  width: 50px;
}
header .presentacion .svgDecoracionRosa, header .presentacionHerramientas .svgDecoracionRosa {
  background-color: white;
  border-radius: 35px;
  padding: 5px;
  stroke: #f2cece;
  margin-bottom: -20px;
  align-items: center;
}
header .ilustracion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: #fde5e5 solid 0.5px;
  margin-left: 10px;
  margin-bottom: 40px;
}
header .ilustracion img {
  padding-top: 10px;
  width: 200px;
}

.carousel-inner {
  width: 98%;
}

.muestras {
  width: 90%;
  height: auto;
  margin: 20px;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 25px;
}
.muestras .svgDecoracionRosa {
  background-color: #fde5e5;
  border-radius: 35px;
  padding: 5px;
  stroke: white;
  margin-bottom: -15px;
  margin-left: -30px;
}

.contenedorTestimonios {
  width: 95%;
  height: auto;
  margin: 10px;
  padding: 8px;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  justify-content: center;
  margin-left: 43px;
  margin-bottom: 20px;
}
.contenedorTestimonios .testimonios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #c9dcfa;
  padding: 20px;
  border-radius: 10px;
}
.contenedorTestimonios .h2Testimonios {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 2em;
  animation-name: animateTestimonio;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.contenedorTestimonios .textoTestimonios {
  font-style: italic;
  font-weight: 100;
  margin-top: 15px;
}
.contenedorTestimonios .svgDecoracionAzul {
  background-color: white;
  border-radius: 35px;
  padding: 5px;
  stroke: #c9dcfa;
  margin-bottom: -20px;
}

.curiosidad h1 {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 2em;
}
.curiosidad p {
  font-style: italic;
}
.curiosidad .corazonCuriosidad {
  margin-bottom: 10px;
  width: 60px;
}

footer {
  font-family: "Josefin Sans", sans-serif;
}
footer img {
  margin-right: 40px;
  width: 30px;
  fill: white;
}
footer img:hover {
  fill: #747373;
}
footer ul {
  background-color: #f2cece;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul li {
  font-size: 1.2em;
  color: white;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
footer ul li a img {
  margin-left: 5px;
  fill: #383838;
}
footer ul li svg {
  margin-left: 10px;
  width: 30px;
  fill: #fff0f0;
}
footer ul li svg:hover {
  fill: white;
}

main {
  padding-left: 30px;
}

.header {
  padding-right: 55px;
}

.card {
  width: 98%;
  font-family: "Josefin Sans", sans-serif;
}
.card h3 {
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 5px;
}
.card p {
  color: #585859;
}
.card .card-footer {
  background-color: #fde5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card-footer a {
  text-decoration: none;
  color: #585859;
  font-size: 1.1em;
}
.card .card-footer a:hover {
  filter: grayscale(100%);
  color: #383838;
}

.contenedor {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: none;
  justify-content: none;
  flex-wrap: wrap;
  margin-left: 50px;
  gap: 20px;
}

.tarjeta {
  width: 60%;
  height: auto;
  margin: 10px 0px;
  padding: none;
  border: #fff0f0 solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: none;
  border-radius: 7px;
}
.tarjeta img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.tarjeta a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2em;
  color: black;
  text-align: left;
  text-align: left;
  color: white;
  text-decoration: none;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.tarjeta a:hover {
  color: #585859;
}
.tarjeta .links-trabajo {
  background-color: #fde5e5;
  padding: 10px 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: left;
  color: #585859;
}
.tarjeta .links-trabajo:hover {
  color: black;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
}
.tarjeta h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  padding: 10px;
  background-color: #fde5e5;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.tarjeta h2, .tarjeta .contenedorTestimonios .h2Testimonios, .contenedorTestimonios .tarjeta .h2Testimonios {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  padding: 10px;
  margin: 0px;
}

.estudios {
  margin-left: 35px;
  gap: 40px;
  margin-bottom: 30px;
}
.estudios .h2-sobreMi {
  font-size: 1.5em;
  background-color: #fde5e5;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  text-align: left;
}

.contenedor-contacto {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  align-items: center;
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.contenedor-contacto .form-control {
  border: #f2cece solid 1px;
  width: 300px;
  padding-right: 20px;
}
.contenedor-contacto button {
  background-color: #fde5e5;
  color: #747373;
  border: #f2cece solid 1px;
}
.contenedor-contacto button:hover {
  background-color: #f2cece;
  border: #f2cece solid 1px;
}
.contenedor-contacto .form-control:focus {
  box-shadow: none !important;
  background-color: #fde5e5;
}

.presentacionHerramientas {
  border: none !important;
}
.presentacionHerramientas .animateSobreMi {
  width: 500px;
  height: 50px;
  margin: auto;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  color: black;
  text-align: none;
  overflow: hidden;
}
.presentacionHerramientas .animateSobreMi .cambiar {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  animation: animateHerramientas 15s infinite;
}
.presentacionHerramientas .animateSobreMi .cambiar .titulo {
  font-size: 1.5em;
  font-family: "Delicious Handrawn", sans-serif;
}
.presentacionHerramientas .animateSobreMi .cambiar .herramientas {
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
}

@keyframes animateHerramientas {
  0% {
    margin-top: 10px;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -45px;
  }
  50% {
    margin-top: -45px;
  }
  55% {
    margin-top: -100px;
  }
  80% {
    margin-top: -100px;
  }
  85% {
    margin-top: -45px;
  }
  95% {
    margin-top: -45px;
  }
  100% {
    margin-top: 0;
  }
}
.animateSobreMi {
  animation-name: animateSobreMi;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animateTestimonio {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes animateCorazon {
  0% {
    width: 0px;
  }
  25% {
    opacity: 1;
  }
  50% {
    width: 30px;
  }
}
.animateCuriosidad {
  animation-name: animateCorazon;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    display: grid;
  }
  .areas {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "botonera" "presentacion " "centro" "pie";
  }
  body {
    margin: -28px;
  }
  body header {
    width: 90%;
    margin-left: 44px;
  }
  body nav {
    width: 100%;
    margin-top: 14px;
    margin-left: 14px;
  }
  body footer {
    width: 100%;
    margin-top: 30px;
    margin-left: 29px;
  }
  body main {
    margin-left: 15px;
  }
  .contenedor {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: none;
    justify-content: none;
    flex-wrap: wrap;
    margin-left: 5px;
  }
  .contenedor .tarjeta {
    width: 900px;
    height: auto;
    margin: 10px;
    padding: none;
    border: #fde5e5 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: none;
  }
  .corazonNav {
    margin-left: -15px;
    width: 60px;
  }
  .index {
    width: 50%;
    height: auto;
    margin: none;
    padding: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-left: 27px !important;
    text-decoration: none;
    border: #747373 solid 1.5px;
    border-radius: 20px;
    margin-top: 30px;
  }
  h2, .contenedorTestimonios .h2Testimonios {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    color: black;
    text-align: center;
    text-align: center;
    margin-top: 30px;
  }
  .contenedorTestimonios {
    width: 94%;
    height: auto;
    margin: 3px;
    padding: 8px;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-left: 11px;
    margin-bottom: 20px;
  }
  .contenedorTestimonios .testimonios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #c9dcfa;
    padding: 30px;
    border-radius: 10px;
  }
  .contenedorTestimonios .h2Testimonios {
    font-family: "Delicious Handrawn", sans-serif;
    font-size: 2em;
  }
  .contenedorTestimonios .textoTestimonios {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 15px;
  }
  .contenedorTestimonios .svgDecoracionAzul {
    background-color: white;
    border-radius: 35px;
    padding: 5px;
    stroke: #c9dcfa;
    margin-bottom: -20px;
  }
  .card {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
  }
  .card h5 {
    font-size: 0.8em;
    margin-top: 5px;
  }
  .card .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card .card-footer a {
    text-decoration: none;
    color: #585859;
    font-size: 1.1em;
  }
  .card .card-footer a:hover {
    color: #383838;
  }
  .contenedor-contacto {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
  }
  .presentacionHerramientas {
    border: none !important;
  }
  .presentacionHerramientas .animateSobreMi {
    width: 280px;
    height: 60px;
    margin: auto;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: none;
    font-weight: 400;
    line-height: none;
    color: black;
    text-align: none;
    overflow: hidden;
  }
  .presentacionHerramientas .animateSobreMi .cambiar {
    list-style: none;
    margin-left: -40px;
    animation: animateHerramientas 15s infinite;
  }
  .presentacionHerramientas .animateSobreMi .cambiar .titulo {
    font-size: 1.2em;
    font-family: "Delicious Handrawn", sans-serif;
    padding: 20px;
  }
  .presentacionHerramientas .animateSobreMi .cambiar .herramientas {
    font-size: 0.7em;
    font-family: "Josefin Sans", sans-serif;
  }
  @keyframes animateHerramientas {
    0% {
      margin-top: 10px;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -63px;
    }
    50% {
      margin-top: -63px;
    }
    55% {
      margin-top: -120px;
    }
    80% {
      margin-top: -120px;
    }
    85% {
      margin-top: -63px;
    }
    95% {
      margin-top: -63px;
    }
    100% {
      margin-top: 0;
    }
  }
  .animateSobreMi {
    animation-name: animateSobreMi;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .herramientas {
    width: 97% !important;
    border-radius: 10px;
  }
  .herramientas svg {
    width: 6%;
    margin: 21px !important;
  }
}
.estudios {
  width: 100%;
  padding: 5px;
}

@media (min-width: 801px) {
  .tarjeta {
    width: 45%;
    height: auto;
    margin: 10px;
    padding: none;
    border: #fde5e5 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    margin-left: 10px;
  }
  .herramientas {
    width: 97% !important;
    border-radius: 10px;
  }
  .herramientas h2, .herramientas .contenedorTestimonios .h2Testimonios, .contenedorTestimonios .herramientas .h2Testimonios {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .herramientas svg {
    width: 5%;
  }
}
@media (min-width: 802px) and (max-width: 1000px) {
  .tarjeta {
    width: 100%;
    height: auto;
    margin: 10px;
    padding: none;
    border: #fde5e5 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    margin-left: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
