@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,100;1,300;1,600&display=swap');

*{
font-family: 'Josefin Sans', sans-serif;
box-sizing: border-box;
color: #383838;
box-sizing: border-box;
}
h1{
    font-family: 'Delicious Handrawn', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
h2{
    font-size: 1.3em;
}
h3{
    text-align: center;
    margin-top: 40px;
}

p{
  font-size: 1.2em;
  line-height: 1.5em;
}

/* BG */
.bg-piel{
    background-color: #f3dbd6  ;
}
.bg-piel-claro{
    background-color: #fdf0ed  ;
}
.bordes{
    border: #fdf0ed solid 1px;
}

/* termina BG */

/* GRID */
.grid{
	width:99%;
	display: grid;
}
.areas{
	grid-template-columns: 20vw 60vw 20vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"botonera botonera botonera" 
	". presentacion ." 
    "centro centro centro"
	"pie pie pie";
} 
#botonera{
	grid-area: botonera;
}

#centro{
	grid-area: centro; 
}

#presentacion{
	grid-area: presentacion;
}

#pie{
	grid-area: pie;
}
/* TERMINA GRID */


/* NAV */

nav img{
    padding: 10px;
    margin-left: 20px;
    width: 2%;
}

.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important ;
}
.boton-hamburguesa{
    background-color: none !important;
    color: #2F67B2;
    border: none;
    margin: 5px; 
}  
.boton-hamburguesa span:hover{
    color: black;
}

/* HEADER */
.presentacion{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.presentacion{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: #747373 solid 1.5px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
    .corazon{
        margin-bottom: 10px;
        width: 50px;
    }
    .img-presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: #d5d5d5 solid 0.5px;
    }
        .img-presentacion img{
            padding-top: 10px;
            width: 200px;
        }


/* MAIN TRABAJO */
.contenedor-tarjeta{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 98%;
    margin: 15px;
    margin-bottom: 50px;   
}

.tarjeta{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: 10px;
    border-radius: 7px;
    border: #fdf0ed solid 1px;
    
}
    .tarjeta img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    }
    .tarjeta p{
        font-size: 1em;
        margin: 10px;
        padding: 10px;
        line-height:2em;
        
    }
    .tarjeta a{
        /* background-color: #fdf0ed; */
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .tarjeta a{
        color:#747373;
        padding: 10px 15px;
        font-size: 1.3em;
        text-decoration: none;
    }
    .tarjeta a:hover{
        color: #383838;
    }
    .links-trabajo{
        background-color: #fdf0ed;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .links-trabajo:hover{
        color:#747373;
        padding: 10px 15px;
        font-size: 1.3em;
        text-decoration: none;
    }

    .tarjeta h3{
        font-size: 1.2em;
        padding: 10px;
        background-color: #fdf0ed;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
    .tarjeta h2{
        font-size: 1.5em;
        padding:0px;
        margin: 10px;
    }
    .tarjeta p{
        margin-left: 10px;
        width: 90%;
        padding: 0px;
        font-size: 1.2em;
    }
    .card-footer{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
        .card-footer a{
            text-decoration: none;
            color: #585859;
            font-size: 1.1em;
        }
        .card-footer a:hover{
            color: #383838;
        }
        .card-footer{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }
/* MAIN SOBRE MI */
        .tarjeta .h2-sobreMi{
            font-size: 1.5em;
            margin: 0px;
            padding: 10px;
            background-color: #fdf0ed;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }


/* CONTACTO */
.contenedor-contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
    .contenedor-contacto .form-control{
       border: #f3dbd6 solid 1px; 
       width: 300px;
       padding-right: 20px;
       
    }
    .contenedor-contacto button{
        background-color:#fdf0ed ;
        color: #747373;
        border: #f3dbd6 solid 1px;
    }
    .contenedor-contacto button:hover{
        background-color:#f3dbd6 ;
        color: #747373;
        border: #f3dbd6 solid 1px;
    }
    .contenedor-contacto .form-control:focus{
        box-shadow: none !important;
        background-color: #fdf0ed;
    }

/* PIE */
footer nav a img{
fill:#383838;
}
footer ul {
    background-color: #dedcdc ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    footer ul li{
        display: flex; 
        flex-direction: row;
        text-decoration: none;   
        padding: 10px;
        margin: 10px;
    }
        footer svg{ 
           margin-right: 40px;
           width: 30px;
            fill: white;
        }
        footer svg:hover{ 
            fill:#747373;  
         }
         footer img{ 
            margin-right: 40px;
            width: 30px;
             fill: white;
         }
         footer img:hover{ 
             fill:#747373;  
          }
          footer ul li{
            font-size: 1.2em;
            color: white;
          }
            footer ul li img{
                margin-left: 5px;
            }
         

   

/* media queries */

@media (width < 696px ){

    .areas{
        grid-template-columns: 5vw 90vw 5vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "botonera" 
        "presentacion presentacion presentacion" 
        "centro"
        "pie";
    }
header{
    margin: 10px;
}

main{
    width: 100%;
}

.contenedor-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px;
}

    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        margin: 10px;
        border-radius: 7px;
        border: #fdf0ed solid 1px;  
    }
}



  
