
//INDEX

.header{
    padding-right: 55px;
}

.card{

    width: $width100;

    font-family: $fontPrincipal;

    h3{
        @extend h3;
        font-weight: $fontRegular;
        font-size: $textSx;
        margin-top: 5px;
    }
    p{
        color: map-get($map: $colores, $key:'ocho' );
    }
    .card-footer{
        background-color: map-get($map: $colores, $key: 'dos');
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        a{
                       
            text-decoration: none;
            color: map-get($map: $colores, $key:'ocho' );
            font-size: 1.1em;
            &:hover{
                filter: grayscale(100%);
                color:map-get($map: $colores, $key:'nueve' );
            }
        }
    }       
}


//TARJETAS PARA TRABAJO Y SOBRE MI
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include contenedor($width100, auto, 10px 0px, 0px, none, flex, none, none, none);
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta{
    @include contenedor($width40, auto, 30px 30px, none,map-get($map: $colores, $key:'dos' ) solid 2px, flex, column, none, none);
    border-radius: 10px;
    img{
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        }  
    
    a{
        @include  texto($fontPrincipal, $textSm, $fontRegular, none,map-get($map: $colores, $key:'diez' ), left );
        color: map-get($map: $colores, $key:'seis' );
        text-decoration: none;
        &:hover{
            color: map-get($map: $colores, $key: 'ocho');
        }
    }

    
    .links-trabajo{
        background-color: map-get($map: $colores, $key:'dos' );
        padding: 10px 15px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        text-align: left;
        color: map-get($map: $colores, $key:'ocho' );
        &:hover{
            color:map-get($map: $colores, $key:'diez' );
            padding: 10px 15px;
            font-size: $textSm;
            text-decoration: none;
        }
    }

    h3{
        font-family: $fontPrincipal;
        font-size: $textSm;
        padding: 10px;
        background-color: map-get($map: $colores, $key:'dos' );
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    h2{
        font-family: $fontPrincipal;
        font-size: $textMd;
        padding:10px;
        margin: 0px;
    }
   
 } 
// FIN DE TARJETAS

//SOBRE MI - ESTUDIOS

.estudios{
    gap:25px;
    margin-bottom: 30px;
    .h2-sobreMi{
        font-size: $textMd;
        background-color:map-get($map: $colores, $key:'dos' );
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        text-align: left
    }       
}

// CONTACTO 
.contenedor-contacto{
    @include contenedor($width100, auto, 0px, 0px, none, flex, column, center, none);

    @extend .contenedor-contacto;
    font-family: $fontPrincipal;
    align-items: center;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 60px;

    .form-control{
        border: map-get($map: $colores, $key:'uno' ) solid 1px; 
        width: 300px;
        padding-right: 20px;
        
     }
    button{
        @include boton;
        /* background-color:map-get($map: $colores, $key:'dos' ) ;
        color: map-get($map: $colores, $key:'siete' );
        border: map-get($map: $colores, $key:'uno' ) solid 1px; */

        &:hover{
            background-color:map-get($map: $colores, $key:'uno' ) ;
            border: map-get($map: $colores, $key:'uno' ) solid 1px;
        }
    }
    .form-control:focus{
        box-shadow: none !important;
        background-color: map-get($map: $colores, $key:'dos' );
    }
    
}

   



