
//INDEX

main{
    padding-left: 30px;
}
.header{
    padding-right: 55px;
}

.card{

    width: $width98;
    font-family: $fontPrincipal;

    h3{
        @extend h3;
        font-weight: $fontRegular;
        font-size: $textSxx;
        margin-top: 5px;
    }
    p{
        color: map-get($map: $colores, $key:'ocho' );
    }
    .card-footer{
        background-color: map-get($map: $colores, $key: 'dos');
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        a{
            text-decoration: none;
            color: #585859;
            font-size: 1.1em;
            &:hover{
                color: #383838;
            }
        }
    }       
}

//TARJETAS PARA TRABAJO Y SOBRE MI
.contenedor{
    @include contenedor($width100, auto, 10px, 0px, none, flex, none, none, none);
    flex-wrap: wrap;
    margin-left:30px;
   
}

.tarjeta{
    @include contenedor(50%, auto, 10px, none, #fdf0ed solid 1px, flex, column, none, none);
  
    border-radius: 7px;

    img{
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        }  
    
    a{
        @include  texto($fontPrincipal, $textSm, $fontRegular, none, black, left );

        color: map-get($map: $colores, $key:'seis' );
        padding: 10px 15px;
        text-decoration: none;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        &:hover{
            color: map-get($map: $colores, $key: 'ocho');
        }
    }
    
    .links-trabajo{
        background-color: map-get($map: $colores, $key:'dos' );
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        text-align: left;
        color: map-get($map: $colores, $key:'ocho' );
        &:hover{
            color:map-get($map: $colores, $key:'diez' );
            padding: 10px 15px;
            font-size: $textSm;
            text-decoration: none;
        }
    }

    h3{
        font-family: $fontPrincipal;
        font-size: $textSm;
        padding: 10px;
        background-color: map-get($map: $colores, $key:'dos' );
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    h2{
        font-family: $fontPrincipal;
        font-size: $textMd;
        padding:10px;
        margin: 0px;
    }
   
 } 
// FIN DE TARJETAS


//SOBRE MI - ESTUDIOS
.estudios{
    margin-left: 50px;
    gap:40px;
    margin-bottom: 30px;
}
.h2-sobreMi{
    font-size: $textMd;
    background-color:map-get($map: $colores, $key:'dos' );
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-align: left
} 
  
// CONTACTO 
.contenedor-contacto{
    @include contenedor($width100, auto, 0px, 0px, none, flex, column, center, none);

    @extend .contenedor-contacto;
    font-family: $fontPrincipal;
    align-items: center;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 60px;

    .form-control{
        border: #f3dbd6 solid 1px; 
        width: 300px;
        padding-right: 20px;
        
     }
    button{
        background-color:#fdf0ed ;
        color: #747373;
        border: #f3dbd6 solid 1px;
        &:hover{
            background-color:#f3dbd6 ;
            color: #747373;
            border: #f3dbd6 solid 1px;
        }
    }
    .form-control:focus{
        box-shadow: none !important;
        background-color: #fdf0ed;
    }
    
}

   



