
.mainIndex{
    width: $width98;
}
main{
    width: $width95;
}
body{
    width: $width100;
}

h1{

    @include  texto($fontPrincipal, $textMd, $fontLight, none,black, center );
   
    span{
        @include  texto($fontSecundaria, $textMd,$fontBold, none,   black, center );

    }
}
h2{
    @include  texto($fontPrincipal, $textMd, $fontRegular, none, black, center );
    margin-top: 30px
}
h3{
    @include  texto($fontPrincipal, $textSm, $fontBold, none, black, none );

    margin-top: 10px;
}
h4{
    @include  texto($fontPrincipal, $textSxx, $fontLight, none,black, none );
    margin-top: 10px;

}

p{ 
    @include  texto($fontPrincipal, $textSm,$fontRegular, $textMd,black, none );

}


//bg




.bgRosa{
    background-color: map-get($map: $colores, $key:'uno' );
}
.bgRosaClaro{
    background-color: map-get($map: $colores, $key:'dos' );
}
.bgVerdeAgua{
    background-color: map-get($map: $colores, $key:'trece' );
}
.bgAzul{
    background-color: map-get($map: $colores, $key:'once' );
}
.bordes{
    border: map-get($map: $colores, $key:'dos' ) solid 1px;
}

//GRID
.grid{
	width:$width100;
	display: grid;
}
#botonera{
	grid-area: botonera;
}

#centro{
	grid-area: centro; 
}

#presentacion{
	grid-area: presentacion;
}

#pie{
	grid-area: pie;
}

.areas{
	grid-template-columns: 20vw 60vw 20vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"botonera botonera botonera" 
	". presentacion ." 
    "centro centro centro"
	"pie pie pie";
} 

//HEADER

header {
    .presentacion{
        @include contenedor( $width100, auto, none, 30px, none, flex, column, center, center);  

        text-decoration: none;
        border: map-get($map: $colores, $key:'siete' ) solid 1.5px;
        border-radius: 20px;
        margin-top: 30px;
   
        .corazon{
            margin-bottom: 10px;
            width: 50px;
        }
        .svgDecoracionRosa{
            background-color: map-get($map: $colores, $key:'seis' );
            border-radius: 35px;
            padding: 5px;
            stroke: map-get($map:$colores , $key:'uno' );
            margin-bottom: -20px;
            align-items: center; 

        }
       
    }
    .ilustracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: map-get($map: $colores, $key:'dos' ) solid 0.5px;
    margin-left: 10px;
    margin-bottom: 40px;
        img{
            padding-top: 10px;
            width: 200px;
        }
    }
    
}

//INDEX
.carousel-inner{
    width: $width98;
   
}

//INDEX - HEADER
.muestras{
    @include contenedor($width90, auto, 20px, 0px, none, flex, row, center, center); 
    margin-top: 70px; 
    margin-left: 25px; 
    
    .svgDecoracionRosa{
        background-color: map-get($map: $colores, $key:'dos' );
        border-radius: 35px;
        padding: 5px;
        stroke: map-get($map:$colores , $key:'seis' );
        margin-bottom: -15px;
        margin-left: -30px;
    }
}
 
// TESTIMONIOS INDEX Y SOBRE MI
.contenedorTestimonios{
    @include contenedor($width95, auto, 10px, 8px, 0px, flex, row, center, center);
    margin-left: 43px;
    margin-bottom: 20px;

    .testimonios{
        width: $width100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: map-get($map: $colores, $key:'once' );
        padding: 20px;
        border-radius: 10px;
    }
    .h2Testimonios{
        @extend h2;
        font-family: $fontSecundaria;
        font-size: $textLg;
     
            animation-name: animateTestimonio;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        
        
    }
    .textoTestimonios{
        font-style: italic;
        font-weight: $fontLight;
        margin-top: 15px;
    }
    .svgDecoracionAzul{
        background-color: map-get($map: $colores, $key:'seis' );
        border-radius: 35px;
        padding: 5px;
        stroke: map-get($map:$colores , $key:'once' );
        margin-bottom: -20px;
    
    }
   
}

//CURIOSIDAD
.curiosidad{

    h1{
        @extend h1;
        font-family: $fontSecundaria;
        font-size: $textLg;
    }
    p{
        font-style: italic;
    }

    .corazonCuriosidad{

        margin-bottom: 10px;
        width: 60px;  
    }
    

}


//PIE

footer{
    font-family: $fontPrincipal;
    img{ 
        margin-right: 40px;
        width: 30px;
         fill: map-get($map: $colores, $key:'seis' );
         &:hover{ 
            fill:map-get($map: $colores, $key:'siete' );  
         }
     }
     ul {
      
        background-color: map-get($map: $colores, $key:'uno' ) ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            font-size: 1.2em;
            color: map-get($map: $colores, $key:'seis' );
            display: flex; 
            flex-direction: row;
            text-decoration: none;   
            padding: 10px;
            margin: 10px;
            a img{
                margin-left: 5px;
                fill:map-get($map: $colores, $key:'nueve' );
                }
                svg{ 
                    margin-left: 10px;
                    width: 30px;
                     fill: map-get($map: $colores, $key:'tres' );
                     &:hover{ 
                        fill:map-get($map: $colores, $key:'seis' );  
                     }
                 }
            
        }
    }

}
