
h1{

    @include  texto($fontPrincipal, $textMd, $fontLight, none,black, center );
   
    span{
        @include  texto($fontSecundaria, $textMd,$fontBold, none,black, center );

    }
}
h2{
    @include  texto($fontPrincipal, $textMd, $fontRegular, $textMd, black, center );
    margin-top: 30px;
}
h3{
    @include  texto($fontPrincipal, $textSm, $fontBold, none, black, none );

    margin-top: 10px;
}
h4{
    @include  texto($fontPrincipal, $textSxx, $fontLight, none,black, none );
    margin-top: 10px;

}

p{ 
    @include  texto($fontPrincipal, $textSm,$fontRegular, $textMd,black, none );

}
hr{
    margin: 0px 80px;
    margin-top: 40px;
}


//bg

.bgRosa{
    background-color: map-get($map: $colores, $key:'uno' );
}
.bgRosaClaro{
    background-color: map-get($map: $colores, $key:'dos' );
}

.bgAzul{
    background-color: map-get($map: $colores, $key:'once' );
}
.bordes{
    border: map-get($map: $colores, $key:'dos' ) solid 1px;
}

//GRID
.grid{
	width:$width100;
	display: grid;
}
#botonera{
	grid-area: botonera;
}

#centro{
	grid-area: centro;
}

#presentacion{
	grid-area: presentacion;
}

#pie{
	grid-area: pie;
}

.areas{
	grid-template-columns: 20vw 60vw 20vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"botonera botonera botonera" 
	". presentacion ." 
    "centro centro centro"
	"pie pie pie";
} 

//HEADER

header {
   
    .presentacion{
        @include contenedor( $width100, auto, none, 30px, none, flex, column, center, center);  

        text-decoration: none;
        border: map-get($map: $colores, $key:'siete' ) solid 1.5px;
        border-radius: 20px;
        margin-top: 30px;
       
    }
    .imgIndex{
        margin-left: 50px !important;
      }
    .ilustracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: map-get($map: $colores, $key:'dos' ) solid 0.5px;
    margin-left: 10px;
    margin-bottom: 40px;
        img{
            padding-top: 10px;
            width: 200px;
        }
    }
    
}

//INDEX
.carousel-inner{
    width: $width98;
}

// TESTIMONIOS INDEX Y SOBRE MI
.contenedorTestimonios{
    @include contenedor($width98, auto, 0px, 0px, 0px, flex, row, center, center);
    margin-left: 3px;

    .testimonios{
        @include contenedor($width100, auto, none, none, none, flex, column, center, center);
        background-color: map-get($map: $colores, $key:'once' );
        border-radius: 10px;
        margin-left: 20px !important;
    }
        .h2Testimonios{
        @extend h2;
            font-family: $fontSecundaria;
            font-size: $textLg; 
            margin-bottom: 15px;    
        }

    }

    .textoTestimonios{
        font-style: italic;
        line-height: $textLg;
    }

//CURIOSIDAD
.curiosidad{

    h1{
        font-family: $fontSecundaria;
        font-size: $textLg;
    }
    p{
        font-style: italic;
    }

    .corazonCuriosidad{
        margin-bottom: 10px;
        width: 60px;  
    }
}


//PIE

footer{
    font-family: $fontPrincipal;
    background-color: aqua;
    img{ 
        margin-right: 40px;
        width: 30px;
         fill: map-get($map: $colores, $key:'seis' );
         &:hover{ 
            fill:map-get($map: $colores, $key:'siete' );  
         }
     }
     ul {
        margin-bottom: 0px;
        background-color: map-get($map: $colores, $key:'uno' ) ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            font-size: 1.2em;
            color: map-get($map: $colores, $key:'seis' );
            display: flex; 
            flex-direction: row;
            text-decoration: none;   
            padding: 10px;
            margin: 10px;
            a img{
                margin-left: 5px;
                fill:map-get($map: $colores, $key:'nueve' );
                }
                svg{ 
                    margin-left: 10px;
                    width: 30px;
                     fill: map-get($map: $colores, $key:'tres' );
                     &:hover{ 
                        fill:map-get($map: $colores, $key:'seis' );  
                     }
                 }
            
        }
    }

}

//error 404 403
.errorPage{
    @extend .presentacion;
    border: none !important;
    .error404{
        width: 45%;
        justify-content: center;
        align-items: center;
        }
}

.aError{
        @include  texto($fontPrincipal, $textMd, $fontLight, $textXl, map-get($map: $colores, $key:'nueve' ), center );
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
                margin-top: 30px;
                svg{
                    margin-bottom: 16px;
                }
                &:hover{
                    color: map-get($map: $colores, $key:'ocho' );
                }
                span{
                    @include  texto($fontPrincipal, $textSxx, $fontRegular, $textXl, map-get($map: $colores, $key:'siete' ), center );

                    @include boton;
                    padding: 8px 15px;
                    &:hover{
                        background-color: map-get($map: $colores, $key: 'uno' );
                        color: map-get($map: $colores, $key:'seis' );
                    }
                }

                
            }