
@media (max-width: 800px){

    // GENERALES
.grid{
    width:$width100;
    display: grid;
 }

.areas{
     grid-template-columns: 100vw;
     grid-template-rows: auto;
     grid-template-areas: 
     "botonera" 
     "presentacion " 
     "centro"
     "pie";
 }
   
body{
    margin: -28px; 
    header{
        width: $width90;
        margin-left: 44px; }
    nav{
        width: $width100;
        margin-top: 14px;
        margin-left: 14px;}
    footer{
        width: $width100;
        margin-top: 30px;
        margin-left: 29px;}
    main{
        margin-left: 15px;}     
}

.contenedor{
    @include contenedor($width100, auto, 10px, 0px, none, flex, none, none, none);
    flex-wrap: wrap;
    margin-left:5px;
    .tarjeta{
        @include contenedor(900px, auto, 10px, none, map-get($map: $colores, $key:'dos' ) solid 1px, flex, column, none, none);   
    } 
}

    
    //INDEX
    .corazonNav{
        margin-left: -15px;
        width: 60px;
    }

  .index{
    @include contenedor( $width50, auto, none, 30px, none, flex, column, center, center);  
    margin-left: 27px !important;
    text-decoration: none;
    border: map-get($map: $colores, $key:'siete' ) solid 1.5px;
    border-radius: 20px;
    margin-top: 30px;
  }

    h2{
        @include  texto($fontPrincipal, $textSm, $fontRegular, none,map-get($map: $colores, $key:'diez' ), center );
        margin-top: 30px
    }
    .contenedorTestimonios{
        @include contenedor($width94, auto, 3px, 8px, 0px, flex, row, center, center);
        margin-left: 11px;
        margin-bottom: 20px;
        .testimonios{
            width: $width100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: map-get($map: $colores, $key:'once' );
            padding: 30px;
            border-radius: 10px;
        }
        .h2Testimonios{
            font-family: $fontSecundaria;
            font-size: $textMd;
        }
        .textoTestimonios{
            font-style: italic;
            font-size: $textSm;
            font-weight: $fontLight;
            margin-top: 15px;
            
        }
        strong{
            font-size: $textSxx;
            font-weight: $fontRegular;
        }
        .svgDecoracionAzul{
            background-color: map-get($map: $colores, $key:'seis' );
            border-radius: 35px;
            padding: 5px;
            stroke: map-get($map:$colores , $key:'once' );
            margin-bottom: -20px;
        
        }
    }

    .card{
        font-family: $fontPrincipal;
        width: $width100;
        h5{
            font-size: $textSxx;
            margin-top: 5px;
            
        }
        .card-footer{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            h4{
                font-size: $textSxx;
                font-weight: $fontRegular;
            }
            a{
                text-decoration: none;
                color: map-get($map: $colores, $key:'ocho') ;
                font-size: 1.1em;
                &:hover{
                    color: map-get($map: $colores, $key:'nueve' );
                }
            }
        }       
    }
.muestras{ 
    .svgDecoracionRosa{
      margin-left: -20px;
    }
}
   

        // CONTACTO 
    .contenedor-contacto{
        @include contenedor($width100, auto, 0px, 0px, none, flex, column, center, none);

        font-family: $fontPrincipal;
        align-items: center;
        border-radius: 7px;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-left:30px;
    }


    // SOBRE MI - HERRAMIENTAS
    .estudios{
        width: $width90;
        margin-left: -3px !important;
        margin-bottom: 30px;   
    }
        .presentacionHerramientas{
            @extend .presentacion;
            border: none !important;
        
            .animateSobreMi{
                @include contenedor(280px, 60px, auto, 0, 0, flex, column, none, none);
        
                @include texto($fontPrincipal, none, $fontRegular, $textLg,map-get($map: $colores, $key:'diez' ), none);
        
                overflow: hidden;
        
                .cambiar{
                    list-style: none;
                    margin-left: -40px;
                    animation: animateHerramientas 15s infinite;
                    .titulo{
                    
                        font-size: $textSm;
                        font-family: $fontSecundaria;
                        padding: 20px;
                    }
                    .herramientas{
                        
                        font-size: $textMini;
                        font-family: $fontPrincipal;
                        
                    }
                }
            }
        }
        .contenedorTestimonios{
            @include contenedor($width95, auto, 10px, 8px, 0px, flex, row, center, center);
            margin-left: 7px;
            margin-bottom: 20px;}

        //ANIMACION
        @keyframes animateHerramientas{
            0%{margin-top: 10px;}
            20%{margin-top: 0;}
        
            25%{margin-top: -63px;}
            50%{margin-top: -63px;}
        
            55%{margin-top: -120px;}
            80%{margin-top: -120px;}
        
            85%{margin-top: -63px;}
            95%{margin-top: -63px;}
        
            100%{margin-top: 0;}
        }
        
        .animateSobreMi{
            animation-name: animateSobreMi;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .herramientas{
   
            width: $width97 !important;
            border-radius: 10px;
          
            svg{
                width: 6%;
                margin: 21px !important;
            }
         }
    }
    
    //SOBRE MI  - ESTUDIOS
    .estudios{
        width: $width100;
        margin-left: 10px !important;
        margin-bottom: 30px;  
    }



    //MEDIAS PARA RETOQUES
@media (min-width: 801px){

    .tarjeta{
        @include contenedor(45%, auto, 10px, none,map-get($map: $colores, $key:'dos' ) solid 1px, flex, column, none, none);
        margin-left: 10px;
    }

    //HERRAMIENTAS
.herramientas{
   
        width: $width97 !important;
        border-radius: 10px;
        h2{
            font-family: $fontPrincipal;
            font-size: $textSm;
            margin-bottom: 30px;
        }
        svg{
            width: 5%;
        }
    }

    .contenedorTestimonios{
        @include contenedor($width97, auto, 10px, 8px, 0px, flex, row, center, center);
        margin-left: 7px;
        margin-bottom: 20px;}

}



@media (min-width: 802px) and (max-width: 1200px){

    .tarjeta{
        @include contenedor($width100, auto, 10px, none, map-get($map: $colores, $key:'dos' ) solid 1px, flex, column, none, none);
       margin-left: -20px;
    }
  
    .mediaTrabajo{
        margin-left: -40px !important;
    }
    .mediaSobreMi{
        margin-left: 50px !important;
    }
    .estudios{
        width: $width90;
        margin-bottom: 30px;   
    }
    .mediaTestimonio{
        margin-right: -100px !important;
    }
}