
@media (max-width: 800px){
    //error 404

.error404{
    width: 270px !important;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: -10px;
    }
.aError{
            
        @include  texto($fontPrincipal, $textSm, $fontLight, none,black, center );
        text-decoration: none;
        cursor: pointer;
                margin-top: 30px;
                svg{
                    margin-bottom: 16px;
                }
                &:hover{
                    color: map-get($map: $colores, $key:'ocho' );
                }
            }
            hr{
                margin: 0px 30px;
                margin-top: 40px;
            }
    // GENERALES
.grid{
    width:$width100;
    display: grid;
 }

.areas{
     grid-template-columns:5vw 90vw 5vw;
     grid-template-rows: auto;
     grid-template-areas: 
     "botonera" 
     ".presentacion." 
     "centro"
     "pie";
 }

.contenedor{
    @include contenedor($width100, auto, 10px, 0px, none, flex, none, none, none);
    flex-wrap: wrap;
    margin-left:0px;
    .tarjeta{
        @include contenedor(900px, auto, 10px, none, map-get($map: $colores, $key:'dos' ) solid 1px, flex, column, none, none);  
    } 
}

    
    //INDEX
    .corazonNav{
        margin-left: -15px;
        width: 80px;
    }

  .index{
    @include contenedor( $width50, auto, none, 30px, none, flex, column, center, center);  
    margin-left: 27px !important;
    text-decoration: none;
    border: map-get($map: $colores, $key:'siete' ) solid 1.5px;
    border-radius: 20px;
    margin-top: 30px;
  }


    h2{
        @include  texto($fontPrincipal, $textSm, $fontRegular, none,map-get($map: $colores, $key:'diez' ), center );
        margin-top: 30px
    }
    .contenedorTestimonios{
        @include contenedor($width94, auto, 3px, 8px, 0px, flex, row, center, center);
        margin-left: -2px !important;
        margin-bottom: 20px;
        .testimonios{
           padding: 20px;
        }
        .h2Testimonios{
            @extend h2;
            font-family: $fontSecundaria;
            font-size: $textLg;
        }
        .textoTestimonios{
            font-style: italic;
            margin-top: 15px;   
        }
    }

    .card{
        font-family: $fontPrincipal;
        width: $width100;
        h5{
            font-size: $textSxx;
            margin-top: 5px;
            
        }
        .card-footer{
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            h4{
                font-size: $textSxx;
                font-weight: $fontRegular;
            }
            a{
                text-decoration: none;
                color: map-get($map: $colores, $key:'ocho') ;
                font-size: 1.1em;
                &:hover{
                    color: map-get($map: $colores, $key:'nueve' );
                }
            }
        }       
    }
   

        // CONTACTO 
    .contenedor-contacto{
        @include contenedor($width100, auto, 0px, 0px, none, flex, column, center, none);

        font-family: $fontPrincipal;
        align-items: center;
        border-radius: 7px;
        margin-top: 30px;
        margin-bottom: 60px;
    }


    // SOBRE MI - HERRAMIENTAS
    .estudios{
        width: $width100;
        margin-bottom: 30px;   
    }
        .presentacionHerramientas{
            @extend .presentacion;
            border: none !important;
        
            .animateSobreMi{
                @include contenedor(280px, 60px, auto, 0, 0, flex, column, none, none);
        
                @include texto($fontPrincipal, none, $fontRegular, $textLg,map-get($map: $colores, $key:'diez' ), none);
        
                overflow: hidden;
        
                .cambiar{
                    list-style: none;
                    margin-left: -40px;
                    animation: animateHerramientas 15s infinite;
                    .titulo{
                    
                        font-size: $textSm;
                        font-family: $fontSecundaria;
                        padding: 20px;
                    }
                    .herramientas{
                        
                        font-size: $textMini;
                        font-family: $fontPrincipal;
                        
                    }
                }
            }
        }
        .contenedorTestimonios{
            @include contenedor($width95, auto, 10px, 8px, 0px, flex, row, center, center);
            margin-left: 7px;
            margin-bottom: 20px;}

        //ANIMACION
        @keyframes animateHerramientas{
            0%{margin-top: 10px;}
            20%{margin-top: 0;}
        
            25%{margin-top: -63px;}
            50%{margin-top: -63px;}
        
            55%{margin-top: -120px;}
            80%{margin-top: -120px;}
        
            85%{margin-top: -63px;}
            95%{margin-top: -63px;}
        
            100%{margin-top: 0;}
        }
        
        .animateSobreMi{
            animation-name: animateSobreMi;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .herramientas{
   
            width: $width97 !important;
            border-radius: 10px;
          
            svg{
                width: 6%;
                margin: 21px !important;
            }
         }
    }

footer{
    margin-top: 30px;
}


    //MEDIAS PARA RETOQUES

@media (min-width: 802px) and (max-width: 1000px){

    .tarjeta{
        @include contenedor($width100, auto, 10px, none, map-get($map: $colores, $key:'dos' ) solid 1px, flex, column, none, none);
    }
  
    .mediaTrabajo{
       width: $width90;
       margin-bottom: 40px;
    }
    .mediaSobreMi{
        margin-left: 10px !important;
    }
    .estudios{
        width: $width90;
        margin-bottom: 30px;   
    }
    .mediaTestimonio{
        width: $width90;
        margin-left: 24px !important;
        margin-bottom: 50px;
    }
}