
// NAV 

nav{
    font-family: $fontPrincipal;
    img{
        padding: 10px;
        margin-left: 20px;
        width: 2%;
    }
    .navbar-toggler{
        border: none !important;
        &:focus{
            box-shadow: none !important ;
        }
    }
    .boton-hamburguesa{
        background-color: none !important;
        color: map-get($map: $colores, $key:'siete' );
        border: none;
        margin: 5px; 
        span:hover{
            color: black;
        }
    }

    

} 

/* nav {
    font-family: $fontPrincipal;
    img{
        padding: 10px;
        margin-left: 20px;
        width: 2%;}
        .navbar-toggler{
            border: none !important;
            &:focus{
                box-shadow: none !important ;
            }
        }

        .boton-hamburguesa{
            background-color: none !important;
            color: #2F67B2;
            border: none;
            margin: 5px; 
            .boton-hamburguesa span:hover{
                color: black;
            }
            
        }  

} */







